body{
	font-family: 'Montserrat', sans-serif;
	background: url('../img/geometry_@2X.png') repeat;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
h1{	
	text-align: center;
	font-size: 30px;
	padding: 40px;
	text-transform: uppercase;
}
#svg{
	margin: 0 auto;
	display: block;
}
.restart{
	margin:40px auto;
	display: block;
}